@model NewTrashCollector.Models.Customer

@{
    ViewBag.Title = "CustomerHome";
}

<h2>CustomerHome</h2>
<div>
    <h1>Customer Home</h1>


</div>


<div class="row">
    <div class="col-md-4">
        <h2>Request Pickup</h2>
        <p>

        </p>
        @Html.ActionLink("New Pickup", "Create", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    <div class="col-md-4">
        <h2>Review/Edit Your Pickups</h2>
        <p>

        </p>
        @Html.ActionLink("Review/Edit", "Index", "Schedules", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    <div class="col-md-4">
        <h2>Review Your Bill</h2>
        <p>

        </p>
        @Html.ActionLink("Review Invoices", "Index", "Invoices", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    @*<div class="col-md-3">
            <h2>Have a Question?</h2>
            <p>

            </p>
            @Html.ActionLink("Create Invoice", "Create", "Invoices", new { area = "" }, new { @class = "btn btn-primary btn-md" })
        </div>*@
</div>


