@{
    ViewBag.Title = "Contact BA Collectors";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    BA Collectors<br />
    Dousman, WI 53118<br />
    <abbr title="Phone">P:</abbr>
    262.424.2234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@BA_Collectors.com">Support@BA_Collectors.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@