@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Trash Collectors For Hire.</h1>
    <h2>Trash pickup on your day, on your schedule</h2>
    <h3>$20 per pickup due at the end of each month cycle</h3>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>

        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>
    
    <div class="col-md-4">
        <h2>Contact Info</h2>

        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>

    <div class="col-md-4">
        <h2>Register</h2>

        @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary btn-md" })
    </div>

</div>